@charset "ISO-8859-1";
.buttonOne {
  background-color: #ff0000;
  font: bold 20px Arial sans-serif;
  text-align: center;
  color: white;
  position: absolute;
  top: 80%;
  right:30%;
  padding: 7px 20px;
  width: 20%;
  margin: 30;
  border: none;
  cursor: pointer;
  -moz-border-radius: 20px;
-webkit-border-radius: 20px;
border-radius: 20px;
}
.buttonTwo {
  background-color: #ff0000;
  font: bold 20px Arial sans-serif;
  text-align: center;
  color: white;
  position: absolute;
  top: 80%;
  right:10%;
  padding: 7px 20px;
  width: 20%;
  margin: 30;
  border: none;
  cursor: pointer;
  -moz-border-radius: 20px;
-webkit-border-radius: 20px;
border-radius: 20px;
}